body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif; /* Estilo para la fuente general */
}

.navbar {
    background-color: #333; /* Color de fondo del menú */
    overflow: hidden; /* Evita desbordamientos */
    position: fixed; /* Fija la barra de navegación en la parte superior */
    top: 0; /* Alinea la barra en la parte superior de la página */
    width: 100%; /* Asegura que la barra ocupe el ancho completo */
}

.navbar a {
    float: left; /* Alinea los enlaces a la izquierda */
    display: block; /* Establece los enlaces como bloques */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto dentro de los enlaces */
    padding: 14px 16px; /* Espaciado interno de los enlaces */
    text-decoration: none; /* Elimina el subrayado del texto */
}

.navbar a:hover {
    background-color: #ddd; /* Color de fondo al pasar el mouse */
    color: black; /* Color del texto al pasar el mouse */
}

.container {
    padding-top: 50px; /* Añade espacio en la parte superior para no tapar contenido */
    background: white; /* Fondo blanco para el contenedor principal */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra alrededor del contenedor */
    border-radius: 8px; /* Bordes redondeados */
    width: calc(100% - 40px); /* Calcula el ancho menos el padding */
    box-sizing: border-box; /* Incluye el padding y border en el ancho y altura */
    margin: 20px auto; /* Centra el contenedor horizontalmente */
}

input, textarea, button {
    width: 100%; /* Ocupa el ancho completo del contenedor padre */
    padding: 10px; /* Espaciado interno */
    margin-top: 10px; /* Margen superior */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ddd; /* Borde sutil */
}

button {
    background-color: #5cb85c; /* Color de fondo de los botones */
    color: white; /* Color del texto de los botones */
    font-size: 16px; /* Tamaño del texto de los botones */
    cursor: pointer; /* Cursor como puntero para indicar clic */
}

button:hover {
    background-color: #4cae4c; /* Color de fondo al pasar el mouse */
}

.formaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.formacion {
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.formacion img {
    width: 100%;
    height: auto;
    display: block;
}

.formacion:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Sombra más intensa al pasar el ratón */
    cursor: pointer; /* Cambia el cursor para indicar que es clicable */
}

.links {
    background-color: #f4f4f4;
    padding: 10px;
}

.links a {
    margin: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
}
